/* CSS Document */
body{
	background-color:#4f6d93;
	background-image:linear-gradient(to bottom, #fff, #4f6d93);
	background-repeat:no-repeat;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;}
header{
	background-color:#003;
	color:#fff;
	background-image:url(../images/sunset.jpg); 
	background-position:right; 
	background-repeat:no-repeat;
	height:60px;
	text-align:center;
	padding-top:15px;
}
nav{
	font-weight:bold;
	padding:20px;
	float:left;
	width:160px;
}
nav a{
	text-decoration:none; 
	transition: color 3s ease-out;
}
nav a:link{
	color:#003;
}
nav a:visited{
	color:#344873;
}
nav a:hover{
	color:#fff;
}
nav ul{
	list-style-type:none;
	margin:0;
	padding-left:0;
	font-size:1.2em;
}
h2{
	color:#39c;
	font-family:Georgia, "Times New Roman", serif;
	text-shadow:1px 1px 1px #ccc;
}
dt{
	color:#003;
}
.resort{
	color:#5c7fa3;
	font-weight:bold;
}
h1{
	margin-bottom:0;
	font-family:Georgia, "Times New Roman", serif;
	margin-top:0;
}
h3{
	font-family:Georgia, "Times New Roman", serif; 
	color:#300; 
}
/*main ul{
	list-style-image:url(../images/marker.gif); 
}*/
footer{
	font-weight:75%;
	font-style:italic;
	text-align:center;
	margin-left:190px;
	background-color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:20px;
	clear:both; 
}
#contact{
	font-weight:90%;
}
#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	background-color:#90c7e3;
	min-width:960px;
	max-width:2048px;
	box-shadow:3px 3px 3px #333;
}
main{
	padding:1px 20px 20px 30px;
	display:block;
	background-color:#fff;
	margin-left:190px;
}
#homehero{
	height:300px;
	background-image:url(../images/coasthero.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}
#yurthero{
	height:300px;
	background-image:url(../images/yurthero.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}
#trailhero{
	height:300px;
	background-image:url(../images/trailhero.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}
header, main, nav, footer, figure, figcaption, aside, section, article {
	display:block;
}
#mobile {
	display:none;
}
#desktop {
	display:inline;
}
table {
	border: 1px solid #39c; 
	width: 80%; 
	border-spacing: 0; 
}
td, th {
	padding: 5px; 
	border: 1px solid #39c; 
}
td {
	text-align: center; 
}
.text {
	text-align:left; 
}
tr:nth-of-type(odd) {
	background-color: #f5fafc; 
}
label {
	float: left; 
	display: block; 
	text-align: right; 
	width: 120px; 
	padding-right: 20px; 
}
input, textarea {
	display: block; 
	margin-bottom: 20px;
}
input[type="submit"] {
	margin-left: 140px; 
}
video, embed {
	float: right; 
	margin-left: 20px; 
}
#gallery {
	height: 200px; 
	text-align: left; 
	color: #006; 
	position: relative; 
}
#gallery figure {
	position: absolute;
	float: right;
	left: 280px;
	text-align: center; 
	opacity: .25; 
}
#gallery ul {
	list-style-type: none;
	width: 300px;
}
#gallery li {
	display: inline; 
	float: left; 
	padding: 10px; 
}
#gallery img {
	border-style: none; 
}
#gallery a {
	text-decoration: none; 
	color: #eaeaea; 
	font-style: italic; 
}
#gallery span {
	position: absolute; 
	left: -1000px; 
	opacity: 0; 
	transition: opacity 3s ease-in-out; 
}
#gallery a:hover span {
	position: absolute; 
	top: 16px; 
	left: 320px; 
	text-align: center; 
	opacity: 1;
}
/*媒体查询: 平板显示*/
@media only screen and (max-width: 64em) {
	body{
		margin:0; 
		background-color: fff;
	}
	#wrapper {
		min-width: 0;
		width:auto; 
		box-shadow: none;
	}
	main {
		margin-left: 0;
	}
	nav {
		float: none;
		width: auto; 
		text-align: center;
		padding: 0.5em;
	}
	nav li {
		display: inline;
		padding: 0.25em 0.75em;
	}
	#homehero, #yurthero, #trailhero {
		margin-left: 0;
		height: 200px;
	}
	footer {
		margin-left: 0;
	}
}
/*媒体查询: 手机显示*/
@media only screen and (max-width: 37.5em) {
	#header {
		padding-top: 1em;
	}
	main {
		padding: 0.1em 1em;
		font-size: 90%;
	}
	h1 {
		font-size: 1.5em; 
	}
	nav {
		padding: 0; 
	}
	nav li {
		display: block; 
		padding: 0; 
		border-bottom: 2px solid #300; 
	}
	nav a {
		display: block; 
	}
	#homehero, #yurthero, #trailhero {
		background-image: none;
		height: 0;
	}
	#mobile {
		display: inline;
	}
	#desktop {
		display: none; 
	}
	label {
		float: none; 
		text-align: left; 
	}
	input[type="submit"] {
		margin-left: 0; 
	}
	img {
		display: none; 
	}
}